@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,100&display=swap");

:root {
  /*### Primary*/

  --Moderate-violet: hsl(263, 55%, 52%);
  --Grayish-blue: hsl(217, 19%, 35%);
  --Blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /*### Neutral*/

  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: "Barlow Semi Condensed";
  box-sizing: border-box;
}
body {
  background-color: var(--Light-grayish-blue);
}
main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

section:nth-child(1) {
  grid-area: first;
  background-color: var(--Moderate-violet);
  height: 50%;
}

section:nth-child(1) h6::before {
  content: url(images/image-daniel.jpg);
  border-radius: 50%;
}
section:nth-child(2) {
  grid-area: second;
  background-color: var(--Grayish-blue);
  height: 50%;
}
section:nth-child(3) {
  grid-area: third;
  background-color: var(--White);
  height: 50%;
  order: 4;
}
section:nth-child(4) {
  grid-area: four;
  background-color: var(--Blackish-blue);
  height: 50%;
  order: 5;
}
section:nth-child(5) {
  grid-area: fifth; 
  height: 100vh;
  background-color: var(--White);
  order: 3;
}
.item5 {}

.grid-container {
  grid-template-areas:
    'first first second third'
    'four fifth fifth third';
}